* {
    box-sizing: border-box
}

body,
html {
    height: 100%;
    /* margin: 0; */
    font-family: Arial;
    overflow: scroll;
}

.rootContainer {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
}

.body {
    overflow-y: scroll;
}

/* BEGIN: header */
.header {
    background-color: #333;
}

.tablink {
    background-color: #555;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    margin: 5px;
    padding: 15px;
    border-style: none;
}

.tablink:not(.disableHover):hover {
    background-color: #777;
}

.tablink.active {
    background-color: #ccc;
}

#prevBtn {
    width: 21px;
    height: 21px;
    box-sizing: content-box;
}

.firstHeaderRow, .secondHeaderRow {
    display: flex;
}

.alignRightThisAndTheRest {
    margin-left: auto;
}

/* END: header */

/* BEGIN: Card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 10px;
    padding: 10px;
    background-color: #f1f1f1;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card .product_name {
    font-weight: bold;
    margin-top: 10px;
}

.card .category_name {
    margin-top: 10px;
    text-align: center;
}

.card .product_image {
    display: block;
    margin: auto;
}

.card .loading_image {
    margin: auto;
    width: max-content;
}

/* END: Card */

/* BEGIN: Fullscreen Search */
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    padding: 8px;
    top: 0;
    left: 0;
    background-color: rgb(200, 200, 200);
}

.search-container {
    display: grid;
    grid-template-columns: auto max-content max-content;
}

/* END: Fullscreen Search */

/* BEGIN: Dialog */
dialog {
    height: 100%;
}

.dialog {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

.dialog .dialog-content {
    overflow-y: scroll;
}

.dialog .dialog-footer {
    margin-top: 10px;
}

/* END: Dialog */

#logo-img {
    height: auto;
    width: 150px;
}

.center {
    display: block;
    margin: auto;
}