* {
    box-sizing: border-box
}

body,
html {
    height: 100%;
    overflow: scroll;
}

#noIngredientsWithInsectsFoundBlock {
    width: fit-content;
    background-color: lightgreen;
}

#ingredientsWithInsectsBlock {
    width: fit-content;
    background-color: #ffcbca;
}

#ingredients {
    width: 99vw;
}

.insects_no {
    background-color: lightgreen;
}

.insects_yes {
    background-color: #ffcbca;
}

.hwt-content {
    padding: 20px;
    border: 1px solid #adb5bd;
    color: inherit;
    font: 18px/25px 'Droid Sans Mono', sans-serif;
}

.hwt-input:focus {
    outline-color: #495057;
}

.hwt-content mark {
    border-radius: 3px;
    background-color: #ff9999;
}

.hwt-content mark.red {
    background-color: #ffc9c9;
}

.hwt-content mark.blue {
    background-color: #a3daff;
}

.hwt-content mark.yellow {
    background-color: #ffec99;
}